docker/bin/
.vs/
.idea/
docker/obj/
**/bin/
**/obj/
NodeGuard.sln.DotSettings.user
src/NodeGuard.csproj.user
test/NodeGuard.Tests/bin
test/NodeGuard.Tests/obj
# Files created by Polar runs
devnetwork.polar/
docker/volumes
.DS_Store
