<!--
NodeGuard
Copyright (C) 2023  Elenpay

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->

﻿@page
@model LoginWithRecoveryCodeModel
@{
    ViewData["Title"] = "Recovery code verification";
}

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<main class="login-bg">
    <div class="row">
        <div class="col-md-6 login-box">
            <section> 
                <form method="post">
                    <h1 class="text-center pb-4 login-title" >@ViewData["Title"]</h1>
                    <h5 class="text-white text-center pb-4" >You have requested to log in with a recovery code. This login will not be remembered until you provide
                    an authenticator app code at log in or disable 2FA and log in again. </h5>
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-floating user-box">
                        <input asp-for="Input.RecoveryCode" class="form-control" autocomplete="off" />
                        <label asp-for="Input.RecoveryCode" class="form-label"></label>
                        <span asp-validation-for="Input.RecoveryCode" class="text-danger"></span>
                    </div>
                    <button type="submit" class="mb-4 w-100 btn-login btn-lg">Log in</button>
                </form>
            </section>
        </div>
    </div>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

<style>
html {
  height: 100%;
}

body {
    font-family: 'Baloo Da 2', cursive;
    margin:0;
    padding:0;
    background: linear-gradient(135deg, #5749db 0%, #000000 75%);
}
</style>