<!--
NodeGuard
Copyright (C) 2023  Elenpay

This program is free software: you can redistribute it and/or modify
it under the terms of the GNU Affero General Public License as published by
the Free Software Foundation, either version 3 of the License, or
(at your option) any later version.

This program is distributed in the hope that it will be useful,
but WITHOUT ANY WARRANTY; without even the implied warranty of
MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
GNU Affero General Public License for more details.

You should have received a copy of the GNU Affero General Public License
along with this program.  If not, see http://www.gnu.org/licenses/.

-->

﻿@page
@model ResetPasswordModel
@{
    ViewData["Title"] = "Set password";
}

<head>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<main class="w-full d-flex flex-column">
    <section class="d-flex flex-row row gx-5 justify-content-center">
        <div class="col-md-4">
            <form method="post">
                <h1 class="my-5 text-center text-white rounded p-4 bg-elenpay">@ViewData["Title"]</h1>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <input asp-for="Input.Code" type="hidden" />
                <div class="form-floating mb-3">
                    <input asp-for="Input.Username" class="input-settings form-control" autocomplete="username" aria-required="true" />
                    <label asp-for="Input.Username" class="custom-primary form-label"></label>
                    <span asp-validation-for="Input.Username" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.Password" class="input-settings form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.Password" class="custom-primary form-label"></label>
                    <span asp-validation-for="Input.Password" class="text-danger"></span>
                </div>
                <div class="form-floating mb-3">
                    <input asp-for="Input.ConfirmPassword" class="input-settings form-control" autocomplete="new-password" aria-required="true" />
                    <label asp-for="Input.ConfirmPassword" class="custom-primary form-label"></label>
                    <span asp-validation-for="Input.ConfirmPassword" class="text-danger"></span>
                </div>
                <button type="submit" class="w-100 btn btn-lg btn-settings">Set new password</button>
            </form>
        </div>
    </section>
    <section class="d-flex justify-content-center ">
        <a href="/" class="custom-violet back-link ">← Back Home</a>
    </section>
</main>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
