@inherits LayoutComponentBase
@using Blazored.Toast.Configuration
@inject AuthenticationStateProvider AuthenticationStateProvider
@inject NavigationManager NavigationManager
<PageTitle>FundsManager</PageTitle>

<div class="page">
    <div class="sidebar">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4 auth">
            <LoginDisplay />
        </div>

        <BlazoredToasts Position="ToastPosition.BottomRight"
                        Timeout="10"
                        IconType="IconType.FontAwesome"
                        SuccessClass="success-toast-override"
                        SuccessIcon="fa fa-thumbs-up"
                        ErrorIcon="fa fa-bug" 
                        ShowProgressBar="true"
                        RemoveToastsOnNavigation="true"/>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>

@code
{
    private Task<AuthenticationState> AuthenticationStateTask { get; set; }

    protected override async Task OnInitializedAsync()
    {
        AuthenticationStateTask = AuthenticationStateProvider.GetAuthenticationStateAsync();

        var user = (await AuthenticationStateTask).User;
        if (user != null && !user.Identity.IsAuthenticated)
        {
            var returnUrl = NavigationManager.ToBaseRelativePath(NavigationManager.Uri);
            NavigationManager.NavigateTo($"Identity/Account/Login?&returnUrl=/{returnUrl}", true);
        }


    }

}
