@inject IWebHostEnvironment WebHostEnvironment

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">NodeGuard</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div>
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home " aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <AuthorizeView Roles="Superadmin,NodeManager,FinanceManager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="wallets">
                    <span class="oi oi-briefcase " aria-hidden="true"></span> Wallets
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Superadmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="users">
                    <span class="oi oi-people" aria-hidden="true"></span> Users
                </NavLink>
            </div>
        </AuthorizeView>
        
        <AuthorizeView Roles="Superadmin">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="apis">
                    <span class="oi oi-code" aria-hidden="true"></span> API
                </NavLink>
            </div>
        </AuthorizeView>

        <AuthorizeView Roles="Superadmin,FinanceManager,NodeManager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="channel-requests">
                    <span class="oi oi-bell" aria-hidden="true"></span> Channel Requests
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="withdrawals">
                    <span class="oi oi-plus" aria-hidden="true"></span> Withdrawals
                </NavLink>
            </div>
        </AuthorizeView>

        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes">
                <span class="oi oi-layers" aria-hidden="true"></span> Nodes
            </NavLink>
        </div>

        <AuthorizeView Roles="NodeManager">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="channels">
                    <span class="oi oi-transfer" aria-hidden="true"></span> Channels
                </NavLink>
            </div>
        </AuthorizeView>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
