@inject IWebHostEnvironment WebHostEnvironment

<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">FundsManager</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div >
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="wallets">
                <span class="oi oi-plus" aria-hidden="true"></span> Wallets
            </NavLink>
        </div>
        
        @if (WebHostEnvironment.IsDevelopment())
        {
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="channeltest">
                    <span class="oi oi-plus" aria-hidden="true"></span> Creation Tester
                </NavLink>
            </div>
        }
       
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="create-channel">
                <span class="oi oi-plus" aria-hidden="true"></span> Create Channel
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pending-requests">
                <span class="oi oi-plus" aria-hidden="true"></span> Pending Operations
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="nodes">
                <span class="oi oi-plus" aria-hidden="true"></span> Nodes
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="channels">
                <span class="oi oi-plus" aria-hidden="true"></span> Channels
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
