@using Microsoft.AspNetCore.Components.Web
@namespace FundsManager.Pages
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <base href="~/" />
    <link href="css/site.css" rel="stylesheet" />
    <link href="FundsManager.styles.css" rel="stylesheet" />
    @*bootstrap@4.6.1*@
    <link rel="stylesheet" href="css/bootstrap.min.css" integrity="sha384-zCbKRCUGaJDkqS1kPbPd7TveP5iyJE0EjAuZQTgFLD2ylzuqKfdKlfG/eSrtxUkn">
    @*fontawesome@v5.15.4*@
    <link rel="stylesheet" href="css/all.css">
    @*blazorise*@
    <link href="_content/Blazored.Toast/blazored-toast.min.css" rel="stylesheet" />
    <link href="_content/Blazorise/blazorise.css" rel="stylesheet" />
    <link href="_content/Blazorise.Bootstrap/blazorise.bootstrap.css" rel="stylesheet" />
    <link href="_content/Blazorise.SpinKit/blazorise.spinkit.css" rel="stylesheet" />
    @*blazorise*@
    <component type="typeof(HeadOutlet)" render-mode="ServerPrerendered" />
    <script src="https://cdn.onesignal.com/sdks/OneSignalSDK.js" async=""></script>
    <script>
    if ("@Constants.PUSH_NOTIFICATIONS_ONESIGNAL_ENABLED")
    {
        window.OneSignal = window.OneSignal || [];
        OneSignal.push(function() {
            OneSignal.init({
                appId: "@Constants.PUSH_NOTIFICATIONS_ONESIGNAL_APP_ID",
            });
        });
        function associateNotificationUser(userId){
            OneSignal.setExternalUserId(userId);
        }
    }

    function logoutInactiveUser(dotnethelper) {
        document.onclick = () => dotnethelper.invokeMethodAsync("ResetTimer");
    }
    </script>
</head>
<body>
    @RenderBody()

    <div id="blazor-error-ui">
        <environment include="Staging,Production">
            An error has occurred. This application may no longer respond until reloaded.
        </environment>
        <environment include="Development">
            An unhandled exception has occurred. See browser dev tools for details.
        </environment>
        <a href="" class="reload">Reload</a>
        <a class="dismiss">🗙</a>
    </div>
    @*blazorise*@
    @*jquery@3.5.1*@
    <script src="js/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"></script>
    @*popper@1.16.1*@
    <script src="js/popper.min.js" integrity="sha384-9/reFTGAW83EW2RDu2S0VKaIzap3H66lZH81PoYlFhbGU+6BZp6G7niu735Sk7lN"></script>
    @*bootstrap@4.6.1*@
    <script src="js/bootstrap.min.js" integrity="sha384-VHvPCCyXqtD5DqJeNxl2dtTyhF78xXNXdkwX1CZeRusQfRKp+tA7hAShOK/B/fQ2"></script>
    @*blazorise*@

    <script src="_framework/blazor.server.js"></script>
</body>
</html>