@page "/"

<PageTitle>Index</PageTitle>

<div class="mx-auto p-6 text-center text-white index-container rounded">
    <h1 class="pt-4">Welcome to the NodeGuard</h1>
    <h4 class="pb-4">Your favorite Lightning Node governance tool</h4>   
</div>



