@page "/wallets"
@using System.Security.Claims

@inject IWalletRepository WalletRepository
<h3>Wallet</h3>


@code {

    [CascadingParameter]
    private ApplicationUser? LoggedUser { get; set; }

    
    [CascadingParameter]
    private ClaimsPrincipal ClaimsPrincipal {get; set; }
    protected override async Task OnInitializedAsync()
    {
       
    }

}
